/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  background-color: #ffffff;
  color: #697687;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1280px;
  padding-left: 135px;
  padding-right: 135px;
  margin: 0 auto;
}

.btn {
  min-width: 120px;
  padding: 16px 29px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  color: #ffffff;
  background-color: #3685fb;
}
.btn:hover, .btnfocus {
  background-color: #00b3a0;
}

.header {
  background-color: #f8f8f8;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  font-weight: 500;
}

.logo__1 {
  color: #3685fb;
}

.logo__2 {
  margin-right: 3px;
  color: #002248;
}

.logo__3 {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-flex;
  border-radius: 50%;
  background-color: #00b3a0;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  line-height: 1.13;
  color: #002248;
}
.nav__link--active {
  color: #3685fb;
}
.nav__link:hover, .nav__link:focus {
  color: #3685fb;
}

.hero {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #f8f8f8;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__wrapper {
  position: relative;
}

.hero__thumb {
  width: 380px;
  border: 10px solid #ffffff;
  border-radius: 570px;
  overflow: hidden;
}
.hero__thumb--pool {
  width: 300px;
  position: absolute;
  right: -25%;
  bottom: -10%;
}

.hero .hero__description {
  width: 450px;
}

.hero__subtitle {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.13;
  color: #00b3a0;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "BioRhyme", serif;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #002248;
}

.hero__text {
  margin-bottom: 50px;
}

.find-travel {
  padding-top: 190px;
  padding-bottom: 120px;
}

.find-travel__wrapper {
  text-align: center;
}

.find-travel__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.13;
  color: #00b3a0;
}

.find-travel__title {
  margin-bottom: 20px;
  font-family: "BioRhyme", serif;
  font-size: 42px;
  line-height: 1.24;
  color: #002248;
}

.find-travel__text {
  margin: 0 auto 70px;
  width: 550px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.steps__item {
  display: grid;
  grid-template-rows: 115px 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  padding: 40px 20px 45px;
  border: 2px solid #f8f8f8;
  border-radius: 10px;
}
.steps__item:not(:last-child) {
  margin-right: 15px;
}

.steps__title {
  align-self: baseline;
  padding-top: 50px;
  font-size: 18px;
  line-height: 1.4;
  color: #002248;
}

.steps__description {
  padding-top: 20px;
}

.sug-loc {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f8f8f8;
}

.sug-loc__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.sug-loc__description {
  width: 530px;
}

.sug-loc__subtitle {
  margin-bottom: 10px;
  line-height: 1.13;
  color: #00b3a0;
}

.sug-loc__title {
  margin-bottom: 20px;
  font-family: "BioRhyme", serif;
  font-size: 42px;
  line-height: 1.24;
  color: #002248;
}

.sug-loc__buttons {
  align-self: flex-end;
}

.sug-loc__btn {
  width: 50px;
  max-width: 50px;
  min-width: 0;
  height: 50px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #002248;
  background-color: #ffffff;
}
.sug-loc__btn:not(:last-child) {
  margin-right: 10px;
}
.sug-loc__btn--active {
  fill: #ffffff;
  background-color: #3685fb;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location__item {
  position: relative;
  display: block;
}
.location__item:not(:last-child) {
  margin-right: 30px;
}
.location__item:first-child .location__wrapper {
  background-color: rgba(101, 106, 30, 0.3);
}

.location__img {
  border: 6px solid #ffffff;
  border-radius: 15px;
}

.location__wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #989898;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 34, 72, 0.3);
}

.loc-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loc-meta__title {
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}

.loc-meta__country {
  font-size: 15px;
  color: #ffffff;
}

.loc-meta__price {
  font-family: "BioRhyme", serif;
  font-size: 15px;
  text-align: end;
  color: #ffffff;
}

.guideline {
  position: relative;
  height: 690px;
  background: url("/ex.Tripgoal/map.adc9c27f.svg") no-repeat 145%, url("/ex.Tripgoal/travel-guideline.7e02cd10.jpg") no-repeat;
}

.guideline__wrapper {
  width: 440px;
  padding-top: 175px;
  margin-left: auto;
}

.guideline__subtitle {
  margin-bottom: 10px;
  color: #00b3a0;
}

.guideline__title {
  margin-bottom: 20px;
  font-family: "BioRhyme", serif;
  font-size: 42px;
  line-height: 1.24;
  color: #002248;
}

.guideline__description {
  margin-bottom: 50px;
}

/*# sourceMappingURL=/ex.Tripgoal/scss.8d995603.css.map */