.btn {
  min-width: 80px;
  padding: 10px 12px;

  font-weight: 500;
  line-height: 1.13;
  letter-spacing: 1px;

  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  color: $secondary-text-color;
  background-color: $primary-accent-color;

  &:hover,
  &focus {
    background-color: $secondary-accent-color;
  }
  @media screen and (min-width: 480px) {
    min-width: 100px;
    padding: 13px 12px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 120px;
    padding: 16px 29px;
  }
}
