$primary-background-color: #ffffff;
$secondary-background-color: #f8f8f8;
$primary-text-color: #697687;
$secondary-text-color: #ffffff;
$primary-accent-color: #3685fb;
$secondary-accent-color: #00b3a0;
$header-color: #002248;
