@import "~node_modules/modern-normalize/modern-normalize";

body {
  // font-family: "BioRhyme", serif;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  background-color: var($primary-background-color);
  color: var($primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
