@import "~node_modules/modern-normalize/modern-normalize";

body {
  // font-family: "BioRhyme", serif;
  font-family: "Roboto Slab", serif;
  background-color: white;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
