.find-travel {
  padding-top: 190px;
  padding-bottom: 120px;
}
.find-travel__wrapper {
  text-align: center;
}
.find-travel__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  line-height: 1.13;

  color: $secondary-accent-color;
}
.find-travel__title {
  margin-bottom: 20px;

  font-family: $secondary-font-title;
  font-size: 42px;
  line-height: 1.24;

  color: $header-color;
}
.find-travel__text {
  margin: 0 auto 70px;

  @media screen and (min-width: 768px) {
    width: 550px;
  }
}
.steps__list {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    grid-template-areas:
      "f f f f i i i i"
      "b b b b b b b b";
    gap: 15px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
}
.steps__item {
  display: grid;
  grid-template-rows: 115px 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  padding: 40px 20px 45px;
  border: 2px solid $secondary-background-color;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .steps__item:first-child {
    grid-area: f;
  }
  .steps__item:nth-child(2) {
    grid-area: i;
  }
  .steps__item:last-child {
    grid-area: b;
  }
}

.steps__title {
  align-self: baseline;
  padding-top: 50px;

  font-size: 18px;
  line-height: 1.4;

  color: $header-color;
}
.steps__description {
  padding-top: 20px;
}
