.guideline {
  position: relative;

  display: none;
  height: 690px;

  background: url("../image/map.svg") no-repeat 50%,
    url("../image/travel-guideline.jpg") no-repeat;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.guideline__container {
  padding-top: 175px;
}
.guideline__wrapper {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 440px;
  }
}
.guideline__subtitle {
  margin-bottom: 10px;

  color: $secondary-accent-color;
}
.guideline__title {
  margin-bottom: 20px;

  font-family: $secondary-font-title;
  font-size: 42px;
  line-height: 1.24;

  color: $header-color;
}
.guideline__description {
  margin-bottom: 50px;
}
