.hero {
  position: relative;

  padding-top: 50px;
  padding-bottom: 180px;

  background-color: $secondary-background-color;
}
.hero__container {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero__wrapper {
  position: relative;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 20px;
  }
}
.hero__thumb {
  border: 10px solid $secondary-text-color;
  border-radius: 570px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    width: 90%;
    margin: 0 auto;
  }

  &--pool {
    position: absolute;
    right: -25%;
    bottom: -10%;

    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      width: 300px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      right: -2%;
      bottom: -5%;
    }
  }

  &--mountains {
    @media screen and (min-width: 768px) {
      display: block;
      width: 380px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin: 0 auto;
    }
  }
}

.hero .hero__description {
  @media screen and (min-width: 1280px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    text-align: center;
  }
}
.hero__subtitle {
  margin-bottom: 15px;

  font-weight: 500;
  line-height: 1.13;

  color: $secondary-accent-color;
}
.hero__title {
  margin-bottom: 20px;

  font-family: $secondary-font-title;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: -2px;

  color: $header-color;
}
.hero__text {
  margin-bottom: 50px;
}
.booking {
  border-radius: 30px;
  overflow: hidden;

  background-color: $primary-background-color;
  -webkit-box-shadow: 0px 40px 30px 0px rgba(0, 34, 72, 0.07);
  box-shadow: 0px 40px 40px -10px rgba(0, 34, 72, 0.07);

  @media screen and (max-width: 767px) {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    width: 90%;
    height: 120px;
  }
  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}
.booking-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 70px;
  }
}
.booking-list__item {
  display: inline-flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    width: 70%;
    margin-bottom: 20px;
  }
}
.booking-list__label {
  position: relative;

  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;

  color: $header-color;

  &::before {
    content: "";
    position: absolute;
    top: 20%;
    right: 10%;

    width: 16px;
    height: 16px;

    background-image: url(../image/chevron-down.svg);
    background-repeat: no-repeat;

    @media screen and (min-width: 480px) {
      right: 20%;
    }
    @media screen and (min-width: 768px) {
      right: -30px;
    }
  }
}
.booking-list__select {
  appearance: none;
  border: none;

  color: $primary-text-color;
}

.booking__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;

  color: $primary-background-color;
  background-color: $primary-accent-color;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    min-width: 150px;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.booking__btn-svg {
  margin-bottom: 15px;
  fill: $primary-background-color;
}
.booking__btn-text {
  font-size: 18px;
  font-weight: 500;
}
