.instagramm {
  padding-top: 120px;
  padding-bottom: 120px;
}
.instagramm__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 70px;
}
.instagramm__subtitle {
  margin-bottom: 10px;

  line-height: 1.13;

  color: $secondary-accent-color;
}
.instagramm__title {
  font-family: $secondary-font-title;
  font-size: 30px;
  line-height: 1.24;

  color: $header-color;
}

.instagram__wrapper {
  position: relative;
  height: 450px;
}

.instagramm__list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -10%;
  width: 120%;
}

.instagramm__item:not(:last-child) {
  margin-right: 10px;
}

.instagramm__item:nth-child(2n) {
  border-radius: 15px;
  overflow: hidden;
}
.instagramm__item:nth-child(2n + 1) {
  border-radius: 570px;
  overflow: hidden;
}
