.instagramm {
  padding-top: 120px;
  padding-bottom: 120px;
}
.instagramm__container {
  margin-bottom: 70px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
.instagramm__subtitle {
  margin-bottom: 10px;

  line-height: 1.13;

  color: $secondary-accent-color;
}
.instagramm__title {
  font-family: $secondary-font-title;
  font-size: 30px;
  line-height: 1.24;

  color: $header-color;
}

.instagram__wrapper {
  @media screen and (min-width: 768px) {
    position: relative;
    overflow: hidden;
    height: 450px;
  }
  @media screen and (min-width: 1300px) {
    height: 500px;
  }
}

.instagramm__list {
  @media screen and (min-width: 768px) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -10%;
    width: 120%;
  }
}
.instagramm__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.instagramm__item:nth-child(2n) {
  border-radius: 15px;
  overflow: hidden;
}
.instagramm__item:nth-child(2n + 1) {
  border-radius: 570px;
  overflow: hidden;
}

.instagramm__img {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}
