.sug-loc {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $secondary-background-color;
}
.sug-loc__wrapper {
  margin-bottom: 70px;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}
.sug-loc__description {
  @media screen and (max-width: 1279px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 530px;
  }
}
.sug-loc__subtitle {
  margin-bottom: 10px;

  line-height: 1.13;

  color: $secondary-accent-color;
}
.sug-loc__title {
  margin-bottom: 20px;

  font-family: $secondary-font-title;
  font-size: 42px;
  line-height: 1.24;

  color: $header-color;
}
.sug-loc__buttons {
  align-self: flex-end;
}
.sug-loc__btn {
  width: 50px;
  max-width: 50px;
  min-width: 0;
  height: 50px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: $header-color;
  background-color: $primary-background-color;

  &:not(:last-child) {
    margin-right: 10px;
  }
  &--active {
    fill: $primary-background-color;
    background-color: $primary-accent-color;
  }
}
.location {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.location__item {
  position: absolute;
  display: block;

  &:first-child .location__wrapper {
    background-color: rgba($color: #656a1e, $alpha: 0.3);
  }

  &--active {
    z-index: 1;
    transform: translateX(0);
  }
  &--next {
    opacity: 0;
    transform: translateX(100%);
  }
  &--previous {
    opacity: 0;
    transform: translateX(-100%);
  }
  @media screen and (max-width: 1279px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.location__img {
  border: 6px solid $primary-background-color;
  border-radius: 15px;

  @media screen and (max-width: 1279px) {
    margin: 0 auto;
  }
}
.location__wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  border: 1px solid #989898;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background-color: rgba($color: #002248, $alpha: 0.3);

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}
.loc-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.loc-meta__title {
  font-weight: 400;
  font-size: 17px;

  color: $primary-background-color;
}
.loc-meta__country {
  font-size: 15px;

  color: $primary-background-color;
}
.loc-meta__price {
  font-family: $secondary-font-title;
  font-size: 15px;
  text-align: end;

  color: $primary-background-color;
}
