.testimonials {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $secondary-background-color;
}
.testimonials__description {
  text-align: center;

  @media screen and (min-width: 1280px) {
    width: 590px;
    margin: 0 auto;
  }
}
.testimonials__subtitle {
  margin-bottom: 10px;

  line-height: 1.13;

  color: $secondary-accent-color;
}
.testimonials__title {
  margin-bottom: 20px;

  font-family: $secondary-font-title;
  font-size: 30px;
  line-height: 1.24;

  color: $primary-accent-color;
}

.testimonials__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 550px;

  background-image: url("../image/testimonials/map-world.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}
.participants {
  position: absolute;

  width: 100%;
  height: 100%;
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 0 auto;
  padding: 15px 25px;

  border-radius: 10px;
  text-align: center;
  background-color: $primary-background-color;
}
.review__svg {
  margin-bottom: 20px;

  fill: $primary-accent-color;
}
.review__text {
  margin-bottom: 14px;

  font-size: 14px;
}
.review__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;

  color: $header-color;
}
.review__position {
  font-size: 10px;
  line-height: 1.4;
}
.participants__item {
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $primary-background-color;
  cursor: pointer;

  &.active {
    border: 3px solid $secondary-accent-color;
  }
}
.participants__item:first-child {
  position: relative;
  top: 5%;
  left: 45%;
  transform: translate(0, 0);
}
.participants__item:nth-child(2) {
  position: relative;
  top: 5%;
  left: 5%;
}
.participants__item:nth-child(3) {
  position: relative;
  top: 30%;
  left: 1%;
}
.participants__item:nth-child(4) {
  position: relative;
  top: 45%;
  left: -15%;
}
.participants__item:nth-child(5) {
  position: relative;
  top: 65%;
  left: -7%;
}
.participants__item:nth-child(6) {
  position: relative;
  top: 10%;
  right: -40%;
}
.participants__item:nth-child(7) {
  position: relative;
  top: 30%;
  right: -40%;
}
.participants__item:nth-child(8) {
  position: relative;
  top: 60%;
  right: -30%;
}
